<app-navbar></app-navbar>

<div *ngIf="!loading && pokemon" class="d-flex flex-column align-items-center mt-4">
  <div 
    class="card pokemon-detail-card shadow-lg position-relative"
    [ngStyle]="getCardStyle()"
    style="width: 40rem; border-width: 5px;"
  >
  
    <span class="position-absolute top-0 start-0 badge bg-secondary id-badge">
      #{{ pokemon.id }}
    </span>
    
    <img
    class="card-img-top bg-light p-2"
    [src]="pokemon.sprites?.front_default"
    alt="{{ pokemon.name }}"
    style="height: 150px; object-fit: contain;"
  />
    <div class="card-body text-center">
      <h3 class="card-title mb-3 text-capitalize fw-bold">{{ pokemon.name }}</h3>
      <div class="mb-2">
        <span
          *ngFor="let type of pokemon.types"
          class="badge me-1 d-inline-flex align-items-center"
          [ngStyle]="{ 'background': typeColors[type.type.name] || '#888', 'color': '#fff' }"
        >
        <img [src]="'assets/icons/' + type.type.name + '.svg'" style="width: 32px; margin-right: 3px;" alt="{{ type.type.name }} icon" />
          {{ type.type.name | titlecase }}
          {{ type.type.name | titlecase }}
        </span>
      </div>
      <hr>
      <div class="row mb-2">
        <div class="col-6 text-end text-muted">Weight:</div>
        <div class="col-6 text-start">{{ pokemon.weight }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-6 text-end text-muted">Height:</div>
        <div class="col-6 text-start">{{ pokemon.height }}</div>
      </div>
      <hr>
     
      <div class="row text-start">
        <div class="col-6">
          <strong>Abilities</strong>
          <ul class="mb-0">
            <li *ngFor="let ability of pokemon.abilities">
              {{ ability.ability.name | titlecase }}
            </li>
          </ul>
          <div class="mt-3" style="font-size: 13px;">
            <strong>Base Stats</strong>
            <div *ngFor="let stat of pokemon.stats">
              <ng-container *ngIf="stat.stat.name === 'hp' || stat.stat.name === 'attack' || stat.stat.name === 'defense'">
                <div class="d-flex align-items-center mb-1">
                  <span style="width: 70px;">{{ stat.stat.name | titlecase }}</span> 
                  <div class="progress flex-grow-1 mx-2" style="height: 14px;">
                    <div class="progress-bar bg-info" role="progressbar" [style.width.%]="stat.base_stat / 2" [attr.aria-valuenow]="stat.base_stat" aria-valuemin="0" aria-valuemax="200"></div>
                  </div>
                  <span>{{ stat.base_stat }}</span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        
        <div class="col-6" style="font-size: 13px;">
          <strong>Base Stats</strong>
          <div *ngFor="let stat of pokemon.stats" class="d-flex align-items-center mb-1">
            <span style="width: 70px;">{{ stat.stat.name | titlecase }}</span>
            <div class="progress flex-grow-1 mx-2" style="height: 14px;">
              <div class="progress-bar bg-info" role="progressbar" [style.width.%]="stat.base_stat / 2" [attr.aria-valuenow]="stat.base_stat" aria-valuemin="0" aria-valuemax="200"></div>
            </div>
            <span>{{ stat.base_stat }}</span>
          </div>
        </div>
        
      </div>
      <hr>
      <div class="evolution-chart mt-4">
        <h5>Evolution</h5>
        <div class="d-flex align-items-center justify-content-center">
          <div *ngFor="let evolution of evolutionChain; let last = last" class="d-flex align-items-center">
            <div class="evolution-stage text-center">
              <img *ngIf="evolution.sprite" [src]="evolution.sprite" alt="{{ evolution.name }}" class="evolution-image" style="width: 80px; height: 80px; object-fit: contain;"
              />
              <div>{{ evolution.name | titlecase }}</div>
            </div>
            <span *ngIf="!last" class="mx-2">🡢</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <button
      class="btn btn-warning me-2"
      [disabled]="pokemon.id === 1"
      (click)="goToPreviousPokemon()"
    >
      Previous
    </button>
    <button
      class="btn btn-warning"
      (click)="goToNextPokemon()"
    >
      Next
    </button>
  </div>
</div>
