<app-navbar></app-navbar>

<div *ngIf="loading">Loading...</div>

<div *ngIf="!loading && pokemon" class="d-flex flex-column align-items-center mt-4">
  <div class="card" [ngStyle]="getCardStyle()" style="width: 26rem;">
    <img
      class="card-img-top"
      [src]="pokemon.sprites?.front_default"
      alt="{{ pokemon.name }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ pokemon.name | uppercase }}</h5>
      <p class="card-text">
        <strong>ID:</strong> {{ pokemon.id }}<br />
        <strong>Types:</strong> {{ getPokemonTypes() }}<br />
        <strong>Abilities:</strong> {{ getPokemonAbilities() }}<br />
        <strong>Weight:</strong> {{ pokemon.weight }}<br />
        <strong>Height:</strong> {{ pokemon.height }}
      </p>
    </div>
  </div>

 
  <div class="mt-3">
    <button
      class="btn btn-warning me-2"
      [disabled]="pokemon.id === 1"
      (click)="goToPreviousPokemon()"
    >
      Previous
    </button>
    <button
      class="btn btn-warning"
      (click)="goToNextPokemon()"
    >
      Next
    </button>
  </div>
</div>